/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form-textarea {
    width: 90vh;
    height: 90vh;
}

.button-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: inherit;
    font-size: inherit;
    color: blue; /* ここでリンクの色を指定 */
    text-decoration: underline; /* テキストの下線を追加 */
    cursor: pointer;
}

.button-link:hover {
    color: darkblue; /* ここでマウスオーバー時の色を指定 */
}
